main, html, body {
    height: calc(100% - 16px);
    min-height: calc(100vh - 16px);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h2 {
    font-size: 3vh;
    margin: 1%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}