body, html {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    margin: 10px 0;
    font-size: 4vw;
}

.box {
    border: 2px solid black;
    padding: 2%;
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    font-size: 1.8vw;
}

.front-container {
    margin-right: 10%;
    margin-bottom: 2%;
}

label {
    font-size: 1.8vw;
}

input {
    font-size: 1.4vw;
    height: auto;
    width: 30%
}

button {
    font-size: 1.4vw;
    height: auto;
}
