.card {
    width: 7vw;
    height: 10vw;
    border: 0.15vw solid black;
    border-radius: 1vw;
    text-align: center;
    background-color: white;
    padding: 0.75vw;
}

h3 {
    font-size: 1.2vw;
}
p {
    font-size: 1vw;
}