.hand-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 24vh;
    transition: transform 0.3s ease, left 0.3s ease, opacity 0.3s ease;
}

.hand-container.choosing {
    position: relative;
    bottom: 0;
    left: 0;
}

.hand-container.stowed:hover {
    opacity: 1;
}

.hand-container.stowed {
    position: absolute;
    left: 1vw;
    bottom: 0.5vh;
    opacity: 0.66;
    width: 10vw;
    height: 14vw;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hand-container.stowed app-card {
    position: absolute;
    bottom: 0;
    transform: rotate(0deg) translateY(0px);
    box-shadow: 0vw 0vw 0vw rgba(0,0,0,0);
    z-index: 1;
}

.hand-container.stowed p {
    padding: 0;
    margin: 0;
    margin-top: 5%;
    align-self: flex-start;
    z-index: 2;

    color: rgba(0,0,0,0.7);
    font-size: 1vw;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hand-container.stowed:hover p {
    opacity: 1;
    visibility: visible;
}

app-card {
    position: relative;
    margin: 0 -30px;
    transform-origin: bottom center;
    transition: transform 0.3s ease, z-index 0.3s ease;
    box-shadow: 0.5vw 0.5vw 1.25vw rgba(0,0,0,0.3);
}

app-card:nth-child(1) {
    transform: rotate(-13.33deg) translateY(0px);
}
app-card:nth-child(2) {
    transform: rotate(-10deg) translateY(-12.5px);
}
app-card:nth-child(3) {
    transform: rotate(-6.67deg) translateY(-25px);
}
app-card:nth-child(4) {
    transform: rotate(-3.33deg) translateY(-37.5px);
}
app-card:nth-child(5) {
    transform: rotate(0deg) translateY(-40.5px);
}
app-card:nth-child(6) {
    transform: rotate(3.33deg) translateY(-37.5px);
}
app-card:nth-child(7) {
    transform: rotate(6.67deg) translateY(-25px);
}
app-card:nth-child(8) {
    transform: rotate(10deg) translateY(-12.5px);
}
app-card:nth-child(9) {
    transform: rotate(13.33deg) translateY(0px);
}

app-card.hovered {
    transform: scale(1.3) translateY(-30px);
    z-index: 10;
}

.hand-container.display app-card:hover {
    transform: scale(1.3) translateY(-30px);
    z-index: 10;
}