.hand-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 24vh;
    transition: transform 0.3s ease, left 0.3s ease, opacity 0.3s ease;
}

.hand-container.choosing {
    position: relative;
    bottom: 0;
    left: 0;
}

.hand-container.stowed:hover {
    opacity: 1;
}

.hand-container.stowed {
    position: relative;
    left: 4vw;
    bottom: 0vh;
    opacity: 0.66;
    width: 7vh;
    cursor: pointer;
}
.hand-container.stowed app-card {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(0deg) translateY(0px);
    box-shadow: 0vw 0vw 0vw rgba(0,0,0,0);
}

.stowed-text {
    position: relative;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 2vh 4vh;
    border-radius: 2vh;
    font-size: 1.5vh;
}

app-card {
    position: relative;
    margin: 0 -30px;
    transform-origin: bottom center;
    transition: transform 0.3s ease, z-index 0.3s ease;
    box-shadow: 0.5vw 0.5vw 1.25vw rgba(0,0,0,0.3);
}

app-card:nth-child(1) {
    transform: rotate(-13.33deg) translateY(0px);
}
app-card:nth-child(2) {
    transform: rotate(-10deg) translateY(-12.5px);
}
app-card:nth-child(3) {
    transform: rotate(-6.67deg) translateY(-25px);
}
app-card:nth-child(4) {
    transform: rotate(-3.33deg) translateY(-37.5px);
}
app-card:nth-child(5) {
    transform: rotate(0deg) translateY(-40.5px);
}
app-card:nth-child(6) {
    transform: rotate(3.33deg) translateY(-37.5px);
}
app-card:nth-child(7) {
    transform: rotate(6.67deg) translateY(-25px);
}
app-card:nth-child(8) {
    transform: rotate(10deg) translateY(-12.5px);
}
app-card:nth-child(9) {
    transform: rotate(13.33deg) translateY(0px);
}

app-card.hovered {
    transform: scale(1.3) translateY(-30px);
    z-index: 10;
}

.hand-container.display app-card:hover {
    transform: scale(1.3) translateY(-30px);
    z-index: 10;
}