.lobby-main-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
}

.players-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 97%;
    padding: 1%;
    margin: 0%;
    border: 0.25vw solid black;
    border-radius: 1vw;
    overflow: hidden;
}

p {
    align-self: center;
    font-size: 1.4vw;
    margin: 0.2vw;
}

h2 {
    align-self: flex-start;
    font-size: 2vw;
    margin: 0.2vw;
    padding: 0;
}

.player-entry-grid {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
}

.ready-button {
    align-self: center;
    font-size: 1vw;
    height: auto;
    width: 15%;
    margin: 1rem 0;
}

.entry-position {
    font-size: 1.5vw;
    margin: 1%;
    height: 100%;
    width: 97%;
}

.position-1 {
    grid-row: 1;
    grid-column: 1;
}

.position-2 {
    grid-row: 1;
    grid-column: 2;
}

.position-3 {
    grid-row: 2;
    grid-column: 1;
}

.position-4 {
    grid-row: 2;
    grid-column: 2;
}

.position-5 {
    grid-row: 3;
    grid-column: 1;
}

.position-6 {
    grid-row: 3;
    grid-column: 2;
}