.players-container {
    width: 80%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0.5vw;
    margin: 0%;
    border: 0.25vw solid black;
    border-radius: 1vw;
}

p {
    align-self: center;
    font-size: 1.4vw;
    margin: 0.2vw;
}

h2 {
    align-self: left;
    font-size: 2vw;
    margin: 0.2vw;
}

.player-entry-grid {
    width: 100%;
    height: 80%;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.ready-button {
    position: relative;
    font-size: 1vw;
    height: 7%;
    width: 15%;
    left: 35%;
    margin: 1vw;
}

.entry-position {
    padding: 0.2vw;
    height: 1fr;
}

.position-1 {
    grid-row: 1;
    grid-column: 1;
}

.position-2 {
    grid-row: 1;
    grid-column: 2;
}

.position-3 {
    grid-row: 2;
    grid-column: 1;
}

.position-4 {
    grid-row: 2;
    grid-column: 2;
}

.position-5 {
    grid-row: 3;
    grid-column: 1;
}

.position-6 {
    grid-row: 3;
    grid-column: 2;
}