.lobby-container {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

app-lobby-main {
    width: 60%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
}